{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/css/products.css">
{{/section}}
{{#section 'js'}}
<script src="/assets/js/products.js"></script>
<script>
	$('#cart-btn').click(function(){

		$('.forminfo').submit();
	})
</script>
{{/section}}
<div class="container">
	{{#each products}}
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-5">
					<h2 id="nametocart">{{p_name}}</h2>
					<br>
					<p>{{description}}</p>
				</div>,
				<div class="col-xs-12 col-sm-4 col-md-5">
					<img class="cartpicture" src="/sp/{{p_id}}/wine-large.jpg" alt="{{Name}}">
				</div>
			</div>
			<div class="row">
				<div class="row">
					<div id="price-box" class="col-xs-12 col-sm-4 col-md-3">
						<div class="row">
								<b>$ &nbsp</b>
								<div id="price">{{price}}</div>
						</div>
						{{#if ../layoutVM.isLogged}}
						<button type="button" id="cart-btn" class="btn btn-info">Add to cart</button>
						{{/if}}
						<br>
						<br>
							<form class="form-inline forminfo" method="POST" action="/cart/add">
								
									<input type="text" name="getquantity" id="num" value="1">
									<input type="hidden" name="getname" value="{{p_name}}">
								
								 <button id="min" type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
								</button>
								<button id="plus" type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</button> 
							</form>
					</div>
					<div id="empty" class="col-xs-12 col-sm-3 col-md-3 text-center">
					</div>
					<div id="view-purchase" class="col-xs-12 col-sm-5 col-md-3 text-center">
						<table class="table">
							<tr>
								<td><h3><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbspView(s)</h3></td>
								<td><h3>{{n_views}}</h3></td>
							</tr>
							<tr>
								<td><h3><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbspPurchase(s)</h3></td>
								<td><h3>{{n_purchases}}</h3></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			


			{{/each}}

			<div class="row">
				<p style="font-family: Roboto, Helvetica, Arial, sans-serif; font-weight: 400px;color:#333333; font-size: 18px">PRODUCTS OF THE SAME PRODUCER </p>

				{{#each similarProducer}}
				<div class="col-md-15">

					<a href="/home/productinfo/{{p_name}}" class="thumbnail">
						<img src="/sp/{{p_id}}/wine.jpg" alt={{p_name}} class="img-responsive">
						<label style="text-align:center;width:100%; font-size:15px; ">{{p_name}}</label>


					</a>
				</div>

				{{/each}}
			</div>
			<div class="row">
				<p style="font-family: Roboto, Helvetica, Arial, sans-serif; font-weight: 400px;color:#333333; font-size: 18px">PRODUCTS OF THE SAME BRAND </p>
				{{#each similarBrand }}
				<div class="col-md-15">
					<a href="" class="thumbnail">
					<img src="/sp/{{p_id}}/wine.jpg" alt="hgh" class="img-responsive">
					<label style="text-align:center;width:100%; font-size:15px; ">{{p_name}}</label>
					</a>

				</div>
				
				{{/each}}

			</div>
			
</div>
